@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Заявка на кредит!</h1>
    <p class="lead">Касса №1 — сеть центров выдачи займов!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>**********</h2>
        <p>
            ХЗ что сдесь будет
        </p>
        
    </div>
    <div class="col-md-4">
        Место для рекламы.
    </div>
    <div class="col-md-4">
        <h2>*******</h2>
         Отдам пустую область в хорошие руки
    </div>
</div>